    <div class="reset">
      <div class="authBlock">
        <h2>Reset Password</h2>

        <p>
          Please enter your email address to request a password reset.
        </p>
        <form novalidate
        [formGroup]="emailForm">
        <div>
          <mat-form-field appearance="fill" [style.width.vw]=15>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="example@example.com" formControlName="email">
            <mat-error *ngIf="emailForm.invalid">{{authService.getErrorMessage(emailForm.get('email'))}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button
            type="submit"
            (click)="authService.forgotPassword(emailForm.get('email').value)"
          >Reset Password</button>
        </div>
    </form>
  </div>
      <div class="redirectToLogin">
        <h3>Go back to?</h3>
        <button type="button" routerLink="">
           Sign in
          </button>
      </div>
    </div>

