$maincolor : #f7f9fa;
#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form{
    position: fixed;
    top: 15%;
    bottom: 60%;
    width: 20%;
    background-color: $maincolor;
    box-shadow: -1px 1px 5px rgba(#333, 0.2);
    border-radius: 20px;
    text-align: center;
}