<div class="container" id="container"
[ngClass]="{panelactive: flag}">
<div class="form-container sign-in-container">
	<form novalidate
	[formGroup]="loginForm">
		<h1>Sign in</h1>
		<div class="social-container">
			<a href="#" class="social" (click)="authService.facebookAuth()"><fa-icon [icon]="facebook"></fa-icon></a>
			<a href="#" class="social" (click)="authService.googleAuth()"><fa-icon [icon]="google"></fa-icon></a>
			<a href="#" class="social" (click)="authService.gitHubAuth()"><fa-icon [icon]="gitHub"></fa-icon></a>
		</div>
		<span>or use your account</span>
		<div class="email-container">
			<mat-form-field appearance="fill" [style.width.vw]=15>
			  <mat-label>Enter your email</mat-label>
			  <input matInput placeholder="example@example.com" formControlName="login" #login>
			  <mat-error *ngIf="loginForm.get('login').invalid">{{authService.getErrorMessage(loginForm.get('login'))}}</mat-error>
			</mat-form-field>
		  </div>
		<div class="password-container">
			<mat-form-field appearance="fill" [style.width.vw]=15>
			  <mat-label>Enter your password</mat-label>
			  <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass" #pass>
			  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			  </button>
			</mat-form-field>
		</div>
		<a href="/forgot-password">Forgot your password?</a>
		<div>
		<input type="submit" class="btn"
		[disabled]="loginForm.invalid"
		(click)="authService.signIn(login.value, pass.value)"
		value="Sign In">
	    </div>
	</form>
</div>
	<div class="form-container sign-up-container">
		<form novalidate
        [formGroup]="registrationForm">
			<h1>Create Account</h1>
			<div class="social-container">
                <a href="#" class="social" (click)="authService.facebookAuth()"><fa-icon [icon]="facebook"></fa-icon></a>
				<a href="#" class="social" (click)="authService.googleAuth()"><fa-icon [icon]="google"></fa-icon></a>
				<a href="#" class="social" (click)="authService.gitHubAuth()"><fa-icon [icon]="gitHub"></fa-icon></a>
			</div>
			<span>or use your email for registration</span>
			<div class="email-container">
				<mat-form-field appearance="fill" [style.width.vw]=15>
				  <mat-label>Enter your email</mat-label>
				  <input matInput placeholder="example@example.com" formControlName="userEmail" #userEmail>
				  <mat-error *ngIf="registrationForm.get('userEmail').invalid">{{authService.getErrorMessage(registrationForm.get('userEmail'))}}</mat-error>
				</mat-form-field>
			  </div>
			<div class="password-container">
				<mat-form-field appearance="fill" [style.width.vw]=15>
				  <mat-label>Enter your password</mat-label>
				  <input matInput [type]="hide ? 'password' : 'text'" formControlName="userPass" #userPass>
				  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				  </button>
				</mat-form-field>
			</div>
			<div>
            <input type="submit" class="btn"
             [disabled]="registrationForm.invalid"
			 (click)="authService.signUp(userEmail.value, userPass.value)" value="Sign Up">
			</div>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome!</h1>
				<p>To keep chat please login with your personal info</p>
				<button class="btn ghost" id="signIn" (click)="flag = !flag">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Sign up please and start chat with us</p>
				<button class="btn ghost" id="signUp" (click)="flag = !flag">Sign Up</button>
			</div>
		</div>
	</div>
</div>
