
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chat_angular-primary: mat.define-palette(mat.$indigo-palette);
$chat_angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chat_angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chat_angular-theme: mat.define-light-theme((
  color: (
    primary: $chat_angular-primary,
    accent: $chat_angular-accent,
    warn: $chat_angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chat_angular-theme);

/* You can add global styles to this file, and also import other style files */

html { height: 100%; }

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#container {
	position: absolute;
    top: 40%;
    bottom: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 15px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	text-align: center;

  &.verify, &.reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .email-container .mat-form-field + .mat-form-field,
.password-container .mat-form-field + .mat-form-field {
	margin-left: 8px;
	padding: 12px 15px;
  }

  .password-right-align {
	text-align: right;
  }

  input.password-right-align::-webkit-outer-spin-button,
  input.password-right-align::-webkit-inner-spin-button {
	display: none;
  }

  input.password-right-align {
	-moz-appearance: textfield;
  }

}

.btn {
	border-radius: 20px;
	border: 1px solid #5759e6;
	background-color: #5759e6;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.btn +.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}